@import "tailwindcss";

main {
    overflow: hidden;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.item-list::-webkit-scrollbar {
    display: none;
}

.auto-suggestion-list::-webkit-scrollbar {
    display: none;
}

.review::-webkit-scrollbar {
    display: none;
}

.active {
    transform: translateX(-400%);
    transition: 0.5s ease-in
}

.shimmer-effect {
    position: relative;
    background: linear-gradient(90deg, #364153, #101828, #1E2939);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

@media (max-width:900px) {

    .items-product {
        flex-direction: column;
        align-items: center;
    }

}

@media(max-width:768px) {
    .btn-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width:760px) {
    .product-item {
        width: 80%;
    }
}

@media (max-width:640px) {

    .product-container,
    .xs {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .sidebar-parent {
        position: absolute;
    }





}